body {
    background-color: aquamarine;
    text-align: center;
}

#search {
    width: 300px;
    height: 30px;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 10px;
    color: red;
}

#list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#list li {
    font-size: 24px;
    margin-bottom: 5px;
}