body {
    background: #21469c;
}

.wrapper {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    position: relative;
    cursor: pointer;
    background: #21469c;
}

.sheet {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: top left;
}

.sheet_1 {
    
}