/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, .wrapper, .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    padding: 0 10px;
    min-height: 100vh;
    background: #56d67b;
}

.wrapper {
    width: 440px;
    padding: 30px 30px 38px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

