body {
    margin: 0;
    padding: 0;
    background: black;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bowl {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    animation: move 8s infinite;
}

@keyframes 