body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: table;
}

#counter {
    margin-bottom: 50px;
}

#activity {
    display: table-cell;

}

#activity::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: rgba(0, 173, 239, 0.5);
}

#activity::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: rgba(235, 0, 138, 0.5);
}

.tryagain {
    background-color: aqua;
    padding: 15px 50px;
    border-radius: 20px;
    color: black;
    font-size: 20px;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

.hits {
    font-size: ;
}