@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #00E7FF;
    background: linear-gradient(45deg, #00E7FF, #00FF9C);
}