body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    --itemWidth: min(300px, 30vw);
    --itemWidthMinus: calc(-1 * var(--itemWidth));
    height: max-content;
    width: max-content;
    font-family: 'Averia Serif Libre';
}