body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: navajowhite;
}

input, button {
    margin-bottom: 20px;
    font-size: 16px;
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
}

#result {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    font-family: cursive;
}

footer {
    margin-top: 180px;
    text-align: center;
}

footer a {
    text-decoration: transparent;
    color: red;
}

footer a:hover {
    color: blue;
}

footer a:hover::after {
    content: ' <==> Clique aqui!!';
}