@import url('https://fonts.googlesapis.com/css2?family=Cherry+Bomb+One&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --color-heading: #25d1f7;
    --color-heading-shadow: #0379c3;
}

h1 {
    
}