.ui-mood {
    all: unset;
    display: grid;
    gap: .33em;
    grid-template-columns: repeat(4, 1fr);
    & input {
        appearance: none;
        border-radius: 50%;
        aspect-ratio: 1;
        background: var(--_bg);
        border: 0;
        container-type: inline-size;
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        overflow: hidden;
        padding-inline: 25%;
        row-gap: 10%;
        scale: .9;
        transition: scale .2s linear;
        width: 100%;
        &:checked {
            box-shadow: 0 0 0 .25em color-mix(in srgb, var(--_bg), #000 30%);
            scale: 1;
        }
        &:hover { scale: .95;}
        &::before {
            align-self: end;
            aspect-ratio: 1 /1.1;
            background: var(--_bg);
            border-radius: 50%;
            box-shadow: var(--_bxsh, 0 0 0 0), -35cqi 0 0 0 #000, 35cqi 0 0 0 #000;
            content: '';
            justify-self: center;
            transition: box-shadow .2s linear;
            width: 30cqi;
        }
        &::after {
            
        }
    }
}