@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #151517;
}

nav {
    position: relative;
    display: flex;
    gap: 30px;
    background: #222327;
    padding: 15px 60px;
}

nav a {
    
}