.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont1 {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: lightskyblue;
    border: 5px solid black;
    border-bottom: 10px solid red;
    border-left: 10px solid red;
}

.cont2 {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: lightskyblue;
    border: 5px solid black;
    border-top: 10px dashed red;
    border-right: 10px dashed red;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: rgb(252, 29, 0);
}

footer a:hover::after {
    content: ' <==> Clique aqui!!';
}