*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 11px;
    overflow: hidden;
}

.bar