*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 11px;
    overflow: hidden;
}

.bar {
    width: 35px;
    height: 100px;
    background-color: #121212;
    transform: rotate(-30deg) translate(0, 35px);
}

.bar--small {
    height: 52px;
}

.bar--middle {
    height: 85px;
}

.bar--bigger {
    height: 120px;
}

h1 {
    font-family: 'Tex Gyre Adventor', sans-serif;
    font-size: 4rem;
    margin: -32px 67px;
    letter-spacing: -1px;
}