@import
url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: #00539CFF;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #FFD662FF;
    font-size: 3rem;
}

.convert,.exchange {
    font-family: 'Sansita Swashed', cursive;
    font-size: 25px;
    color: #ffffff;
    padding-right: 20px;
}

input {
    
}