body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.accordion {
    display: inline-block;
    text-align: left;
    margin: 1%;
    width: 70%;
}

.accordion:hover .accordion-content {
    max-width: 300px;
}

.accordion-content {
    background: #e5feff;
    overflow: hidden;
    max-height: 0;
}

