* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    background-color: #c0bbbb;
}

.container {
    max-width: 400px;
    margin: 30px auto;    
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.output {
    margin-bottom: 20px;
}

#counter {
    font-size: 40px;
    font-weight: bold;
    color: #4caf50;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

button {
    margin: 0 5px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #388e3c;
}

button:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3) inset;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: rgba(255, 0, 0, 0.589);
}

footer a:hover::after {
    content: ' <==> Clique aqui!!';
}