@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: #222;
    overflow: hidden;
    /*cursor: none;*/
}

.text {
    position: absolute;
    font-size: 1.5em;
    color: #0f0;
    text-align: center;
    pointer-events: none;
    user-select: none;
    opacity: 0;
}

body:hover .text {
    opacity: 1;
}