* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: antiquewhite;
}

.speaker-wrapper {
    position: absolute;
    width: 80vmin;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: circle(50%);
    box-shadow: 0 0 10px #000000;
}

.speaker {
    position: absolute;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
}

.speaker.inside {
    width: 38%;
    background-image: url(https://zmotrin.github.io/assets/speaker/speaker-3.webp);
    filter: blur(0.05vmin);
    animation-name: inside;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

