@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
}

.container {
    position: relative;
    transform-style: preserve-3d;
}

.container .cigrate {
    transform-style: preserve-3d;
    animation: animate;
    -webkit-animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
        -moz-transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
        -ms-transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
        -o-transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateX(360deg) rotateY(360deg);        
    }
}

.container .cigrate span {
    
}