body {
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#myDiv {
    background-color: #ccf;
    border-radius: 10px;
    height: 100px;
    padding-top: 70px;
    font-family: cursive;
    text-align: center;
    font-size: 2em;
    color: #fff;
    width: 250px;
}