.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: blue;
    text-decoration: underline overline;
}

#display {
    font-size: 5em;
    margin-bottom: 0.5em;
    color: black;
}

button {
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 5px;
    background-color: lightslategrey;
    color: white;
}

body {
    background-color: burlywood;
}

footer {
    margin-top: 180px;
    text-align: center;
}

footer a {
    text-decoration: transparent;
    color: black;
}

footer a:hover {
    color: blue;
}

footer a:hover::after {
    content: ' <==> Clique aqui!!';
}