body {
    background: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.paragraph {
    font-family: cursive;
    font-weight: bold;
    font-size: 5rem;
    background-image: url(https://html50.github.io/about/lab/svg-backgroud-animation/noise.svg);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}