.blub {
    margin: 80px auto;
    position: relative;
    width: 150px;
    height: 150px;
}

.blub-1,.blub-2,.blub-3 {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    transform: scale(.8);
    animation: blub 1.5s ease-in-out infinite;
}

.blub-1 {
    background: #7d69db;
    width: 150px;
    height: 150px;
}

.blub-2 {
    top: calc(15px);
    left: calc(15px);
    width: calc(120px);
    height: calc(120px);
    background: #4f34ce;
    animation-delay: 0.2s;
}